@using T116154.Models
@model IEnumerable<ReportModel>

@{
    ViewBag.Title = "Index";
}

<h2>Available Reports</h2>
<ul>
    @foreach(ReportModel reportModel in Model) {
        <li>
            @Html.ActionLink(reportModel.Name, "Display", new { id = reportModel.Id })
        </li>
    }
</ul>
